<p id='notice'><%= notice %></p>

<h1>Deltagere</h1>

<table>
  <thead>
    <tr>
      <th>Medlemsnr</th>
      <th>Navn</th>
      <th>Billettype</th>
      <th>Køn</th>
      <th>Fødselsdag</th>
      <th>Mobilnr.</th>
      <th>Indkvartering</th>
      <th>Værtsfamilie</th>
      <th colspan='3'></th>
      </tr>
  </thead>

  <tbody>
    <% lmid = 0 %>
    <% @people.each do |person| %>
      <tr>
        <td><b><%= person.member_number unless person.member_id == lmid %></td>
        <td><%= person.name %></td>
        <td><%= person.ptype_name %></td>
        <td><%= person.koen %></td>
        <td><%= person.fdag %></td>
        <td><%= person.phone %></td>
        <td><%= person.housing %></td>
        <td><%= person.host_member %><%= " - #{Member.find_by_number(person.host_member).name}"
                                         if person.host_member %></td>
        <td><%= link_to('Rediger', edit_person_path(person))
                if (session[:member_id] == person.member_id
                  || current_clearance_levels.include?(:admin)) %></td>
        <td><%= link_to('Slet', person, method: :delete, data: { confirm: 'Er du sikker?' })
                  if (session[:member_id] == person.member_id
                    || current_clearance_levels.include?(:admin)) && !(person.invoice_paid) %></td>
      </tr>
      <% lmid = person.member_id %>
    <% end %>
  </tbody>
</table>

