<p id='notice'><%= notice %></p>

<h1>Housing Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @housing_types.each do |housing_type| %>
      <tr>
        <td><%= housing_type.name %></td>
        <td><%= link_to 'Show', housing_type %></td>
        <td><%= link_to 'Edit', edit_housing_type_path(housing_type) %></td>
        <td><%= link_to 'Destroy', housing_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing Type', new_housing_type_path %>
