<p id="notice"><%= notice %></p>
<%= render 'form', member: @member %>

<h2>Tilmeld deltager</h2>

<%= render 'people/form', member: @member, person: Person.new %>

<h2>Tilmeldte</h2>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>Billettype</th>
      <th>Køn</th>
      <th>Årgang</th>
    </tr>
  </thead>

  <tbody>
    <% @member.people.each do |person| %>
      <tr>
				<td><%= person.name %></td>
        <td><%= person.ptype.name %></td>
        <td><%= person.koen %></td>
        <td><% unless person.aargang.nil? %><%= person.aargang.strftime("%Y") %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Tilbage til medlemssøgning', members_url %>
<br>
<br>
<%= form_for(:ticket, remote: true, url: '/tickets', html: { class: my-form }) do |tf| %>
<table>
  <thead>
    <tr>
			<th>Aktivitet</th>
			<% @member.people.each do |person| %>
				<th><%= person.name.split(" ")[0] %></th>
			<% end %>
    </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
		<tr><%= form_for(:activity, remote: true, url: '/activities', html: { class: 'my-form' }) do |f| %>
			<td><%= activity.name %></td>
			<% @member.people.each do |person| %>
				<td><%= check_box_tag("Bestil", activity.toggle, data: { remote: true, url: url_for(action: toggle, id: activity.id), method: 'PUT'}) %></td>
			<% end %>
		<% end %></tr>
  <% end %>
	</tbody>
</table>
