<p id='notice'><%= notice %></p>

<h1>Steder</h1>
<% p_names = [] %>
<% a_ids = [] %>
<% a_names = [] %>
<% a_tovholdere = [] %>
<% a_starttimes = [] %>
<% a_endtimes = [] %>
<% a_counter = [] %>
<% a_total = [] %>
<% rowspan = [] %>
<% @places.each_with_index do |place,index| %>
  <% p_names[index] = place.name %>
  <% a_ids[index] = place.a_ids.split(',') %>
  <% a_names[index] = place.a_names.split(',') %>
  <% a_starttimes[index] = place.starttimes.split(',').map { |st| st.to_datetime } %>
  <% a_endtimes[index] = place.endtimes.split(',').map { |et| et.to_datetime } %>
  <% a_tovholdere[index] = place.tovholdere.split(',') %>
  <% rowspan[index] = 0 %>
<% end %>
<% start_time = Tod::TimeOfDay.new 8 %>
<% end_time = Tod::TimeOfDay.new 23,30 %>

<% times = (start_time.to_i..end_time.to_i).to_a.in_groups_of(30.minutes).collect(&:first).
  collect { |t| Time.at(t).utc.to_time_of_day } %>

<% (0..6).each do |index| %>
  <% day = Date.new(2017, 7, index + 8) %>
  <table border="1" style='table-layout:fixed' width="<%= p_names.length + 1 * 130 %>px" class="table">
    <tr>
      <th width="130px">
        <%= day %>
      </th>
      <% (0..p_names.length - 1).each do |place| %>
        <% a_counter[place] = 0 unless a_counter[place] %>
        <% a_total[place] = a_names.length %>
        <th width="130px">
          <%= p_names[place] %>
        </th>
      <% end %>
    </tr>
    <% times.each do |time| %>
      <% curr_time = day.at time %>
      <tr height="40px">
        <td style="text-overflow: ellipsis; white-space: normal;" width="130px">
          <%= "#{time.hour < 10 ? '0' : '' }#{time.hour}:#{time.min.zero? ? '00' : '30'}" %>
        </td>
        <% (0..p_names.length - 1).each do |place| %>
          <% if a_starttimes[place][a_counter[place]] == curr_time %>
            <% rowspan[place] =
               ((a_endtimes[place][a_counter[place]]).to_time_of_day -
               (a_starttimes[place][a_counter[place]]).to_time_of_day).to_i / 30.minutes %>
            <td class="success" rowspan="<%= rowspan[place] %>" title="<%= a_names[place][a_counter[place]] %>">
              <div style="height:<%= 40 * rowspan[place] %>px; overflow:hidden">
                <%= a_names[place][a_counter[place]] %>
              </div>
            </td>
            <% a_counter[place] += 1 %>
          <% else %>
            <% rowspan[place] -= 1 if rowspan[place] > 0 %>
            <% if rowspan[place].zero? %>
              <% if a_starttimes[place][a_counter[place]] && a_starttimes[place][a_counter[place]].to_date == curr_time.to_date %>
                <% rowspan[place] = ((a_starttimes[place][a_counter[place]]).to_time_of_day - curr_time.to_time_of_day).to_i / 30.minutes %>
              <% else %>
                <% rowspan[place] = ((end_time - curr_time.to_time_of_day).to_i / 30.minutes) + 1 %>
              <% end %>
              <td rowspan="<%= rowspan[place] %>">
              </td>
            <% else %>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br>
<% end %>
