<% any_left = !member.sold_out.split(',').include?(activity.id.to_s) %>
<% hpeople = {} %>
<% people.each do |p| %>
  <% hpeople[p.id] = p %>
<% end %>
<%= form_for(
  activity, {
    remote: true,
    multiple: true,
    url: toggle_activity_path(activity),
    method: :post
  }
) do |f| %>
  <table>
    <tr>
      <td style="width: 200px; text-align: left;"><%= f.hidden_field :member_id, :value => member.id %>
        <% if any_left %><b><% end %>
        <%= activity.name %>
        <% if any_left %></b><% end %>
      </td>
      <%= f.collection_check_boxes  :person_ids,
                                    people,
                                    :id,
                                    :name do |b| %>
        <% p = hpeople[b.value] %>
        <% optns = {
            onchange: %Q[$("#edit_activity_#{activity.id}").submit();],
            title: p.name.split(' ')[0]
        } %>
        <% if activity.age?(p) %>
          <% if (tickets[b.value] || []).include?(activity.id) %>
            <% optns[:checked] = 'checked' %>
            <% if (paid_tickets[b.value] || []).include?(activity.id) %>
              <% optns[:disabled] = 'disabled' %>
            <% end %>
            <td style="width: 70px; text-align: center;"><%= b.check_box( optns ) %></td>
          <% elsif any_left && (([tickets[b.value]] || []) & (conflicts[activity.id] || [])).none? %>
              # skulle tickets[b.value] have .to_a i ovenstående?
            <td style="width: 70px; text-align: center;"><%= b.check_box( optns ) %></td>
          <% else %>
            <% optns[:disabled] = 'disabled' %>
            <% optns[:title] = (
              any_left ?
                "Overlap: #{((conflicts[activity.id] || []) & (tickets[b.value] || [])).map {
                    |c| activity_names[c]
                }.join(', ')}" :
                  'Udsolgt'
            ) %>
            <td style="width: 70px; text-align: center;"><%= b.check_box( optns ) %></td>
          <% end %>
        <% else %>
          <% optns[:disabled] = 'disabled' %>
          <% optns[:title] = 'Forkert aldersgruppe' %>
          <td style="width: 70px; text-align: center;"><%= b.check_box( optns ) %></td>
        <% end %>
      <% end %>
      <td>
        <% unless any_left %>
          <b>Udsolgt!</b>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>
