<%= form_for(
  @activity, {
    remote: true, 
    url: toggle_activity_path(@activity), 
    method: :post
  }
) do |f| %>
  <td><%= @activity.name %></td>
  <%= f.collection_check_boxes  :person_ids, 
                                @member.people, 
                                :id, 
                                :name do |b| %>
    <% p = Person.find(b.value) %>
    <% if @activity.age?(p) %>
      <% optns = {
        onchange: %Q[$("#edit_activity_#{@activity.id}").submit();] 
      } %>
      <% if p.ticket?(@activity) %>
        <% optns[:checked] = 'checked' %>
        <% if Ticket.find_by(person: p, activity: @activity).invoice.paid %>
          <% optns[:disabled] = 'disabled' %>
        <% end %>
        <td><%= b.check_box( optns ) %></td>
      <% elsif @activity.for_sale?(p) %>
        <td><%= b.check_box( optns ) %></td>
      <% else %>
        <td></td>
      <% end %>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
<% end %>
