<p id="notice"><%= notice %></p>

<h1>Medlemmer</h1>

<%= form_tag(members_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Søg medlem" %>
    <%= submit_tag "Søg", :name => nil %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Medlemsnr</th>
      <th>Navn</th>
      <th>Email</th>
      <th>Antal</th>
    </tr>
  </thead>
  <% if @members.blank? %>
    <h4>Der er ingen medlemmer, som passer på '<%= params[:search] %>'.</h4>
  <% end %>
  <tbody>
    <% smid = session[:member_id].to_i == 0 %>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.number, smid ? email_member_path(member) : member %></td>
        <td><%= link_to member.name, smid ? email_member_path(member) : member %></td>
        <td><%= link_to member.email, smid ? email_member_path(member) : member %></td>
        <td><%= member.people.paid.any? ? member.invoices.where(paid: true).map{|i| i.people.count}.sum : nil %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @cm && @cm.admin? %>
<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_members_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
<% end %>