<p id='notice'><%= notice %></p>
<%= render 'form', member: @member %>

<h2>Tilmeld deltager</h2>

<%= render 'people/form', member: @member, person: Person.new %>

<h2>Tilmeldte</h2>

<table>
  <thead>
    <tr>
      <th>Navn</th>
      <th>Billettype</th>
      <th>Køn</th>
      <th>Årgang</th>
    </tr>
  </thead>

  <tbody>
    <% @member.people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.ptype.name %></td>
        <td><%= person.koen %></td>
        <td><% unless person.aargang.nil? %><%= person.aargang.strftime("%Y") %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<%= link_to 'Tilbage til medlemssøgning', members_url %>
<br>
<br>

<table>
  <thead>
    <tr>
    <% @member.people.each do |person| %>
      <th><%= person.name.split(' ')[0] %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
  <tr>
  <% @member.people.each do |person| %>
    <td><%= person.name.split(' ')[0] %></td>
  <% end %>

  </tr>
  <% end %>