<p id='notice'><%= notice %></p>
<% if @member.nil? %>
  <% @member = Member.find(params['person']['member_id']) %>
<% end %>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tilmelding">Tilmelding</a></li>
    <li><a data-toggle="tab" href="#aktiviteter">Aktiviteter</a></li>
    <li><a data-toggle="tab" href="#fakturaer">Fakturaer</a></li>
    <li><a data-toggle="tab" href="#opgaver">Opgaver</a></li>
    <li><a data-toggle="tab" href="#kontaktinfo">Kontaktinfo</a></li>
  </ul>

  <div class="tab-content">
    <div id="tilmelding" class="tab-pane fade in active">
      <% if session[:member_id] != 0 && (@people.length.nonzero? || @guest_people.length.nonzero?) %>
        <h2>Tilmeldte:</h2>
        <table>
          <thead>
          <tr>
            <th>Navn</th>
            <th>Billettype</th>
            <th>Køn</th>
            <th>Fødselsdag</th>
            <th>Mobilnr.</th>
            <th>Indkvartering</th>
            <% if @member.host %><th><%= 'Værtsfamilie' %></th><% end %>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
          </thead>

          <tbody>
          <% host_family = @people.last.member_id != @member.id %>
          <% tpeople = [] %>
          <% @people.each do |person| %>
            <% if person.member_id == @member.id %>
              <% if person.task %>
                <% tpeople << person %>
              <% end %>
              <tr>
                <td><%= person.invoice_paid.nonzero? ? '' : '* ' %><%= person.name %></td>
                <td><%= person.ptype_name %></td>
                <td><%= person.koen %></td>
                <td><%= person.aargang.strftime('%d') + '/' + person.aargang.strftime('%m') + '-' +
                          person.aargang.strftime('%Y') if person.aargang %></td>
                <td><%= person.phone %></td>
                <td><%= person.p_housing %></td>
                <% if @member.host %>
                    <td><%= "#{person.host_member} - #{Member.find_by_number(person.host_member).name}" %></td>
                <% end %>
                <td><%= link_to('Redigér', edit_person_path(person)) if (session[:member_id] == person.member_id ||
                            current_clearance_levels.include?(:admin)) %></td>
                <td><%= link_to'Slet', person, method: :delete, data: { confirm: 'Er du sikker?' } if
                          p_deletable?(person, session[:member_id]) %></td>
              </tr>
            <% else %>
              <% if host_family %>
                <tr>
                  <td colspan="<%= @member.host ? 7 : 6 %>"><br><center><b>Angivet som værtsfamilie af:</b></center></td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <% host_family = nil %>
              <% end %>
              <tr>
                <td><%= person.name %> (<%= person.member.number %>)</td>
                <td><%= person.ptype_name %></td>
                <td><%= person.koen %></td>
                <td><%= person.fdag %></td>
                <td><%= person.phone %></td>
                <td><%= person.housing %></td>
                <% if @member.host %><td>&nbsp;</td><% end %>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
      <br>
      <% if session[:member_id] == @member.id || current_clearance_levels.include?(:admin) %>
        <h2>Tilmeld deltager</h2>
        <%= render 'people/form', member: @member, people: @people, person: Person.new %>
      <% end %>
    </div>
    <div id="aktiviteter" class="tab-pane fade">
      <% if @people.length.nonzero? %>
      <% total_sold_out = @member.sold_out.blank? ? [] : @member.sold_out.split(',').map { |a| a.to_i } %>
      <% names = @activities.first.p_names.split(',') %>
      <br>
      <br>
      <table class="table table-hover">
        <thead>
        <tr>
          <td>
            <table>
              <tr>
                <td style="width: 200px; text-align:left;"><b>Aktivitet</b></td>
                <% names.each do |name| %>
                  <td style="width: 70px; text-align: center;"><b><%= name.split(' ')[0] %></b></td>
                <% end %>
              </tr>
            </table>
          </td>
        </tr>
        </thead>
        <tbody>
        <% last_act = nil %>
        <% p_ids = @activities.first.p_ids.split(',') %>
        <% mtickets = [] %>
        <% @activities.each do |activity| %>
          <% checked = activity.t_ids.split(',') %>
          <% blocked_by = activity.blckd_by.split(',') %>
          <% i_paid = activity.i_paid.split(',')%>
          <% age_ok = activity.age_ok.split(',').map { |a| a == '0' ? true : false } %>
          <% gender_ok = activity.gender_ok.split(',').map { |g| g == '0' ? true : false } %>
          <% if last_act.nil? || last_act != activity.starttime.to_date %>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td style="width: 200px; text-align:left;"><br>
                        <b>
                          <%= I18n.t('date.day_names')[activity.starttime.to_date.wday].capitalize +
                                  ', d. ' + I18n.localize(activity.starttime.to_date, format: :long) %>
                        </b>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
          <% end %>
          <tr id="tr_act_<%= activity.id %>" class="<%= total_sold_out.include?(activity.id) ? 'danger' : ''  %>">
            <td id="form_act_<%= activity.id %>">
              <table>
                <tr>
                  <td style="width: 200px; text-align: left;">
                    <% unless activity.s_out.nonzero? %><b><% end %>
                    <%= activity.name %>
                    <% unless activity.s_out.nonzero? %></b><% end %>
                  </td>
                  <% (0..p_ids.size - 1).each do |i| %>
                      <% if checked[i] != '-' %>
                        <% mtickets << activity.id %>
                      <% end %>
                      <% optns = {
                          data: {activity_id: activity.id}
                      } %>
                      <% optns[:checked] = 'checked' if checked[i] != '-' %>
                      <% optns[:disabled] = 'disabled' if
                        (activity.s_out.nonzero? && checked[i] == '-') ||
                        (activity.deltbet && i_paid[i] == '1') ||
                        (blocked_by[i] != '-') ||
                        (age_ok[i] || gender_ok[i])
                      %>
                      <% optns[:title] = (i_paid[i] == '1' && activity.deltbet) ?
                          'Betalt' :
                          (age_ok[i] || gender_ok[i]) ?
                              'Ingen adgang' :
                              activity.s_out.nonzero? ?
                                  'Udsolgt' :
                                  blocked_by[i] != '-' ?
                                      "Overlap: #{blocked_by[i]}" :
                                      names[i].split(' ')[0]
                      %>
                      <td style="width: 70px; text-align: center;">
                        <%= check_box_tag('activity[person_id]', p_ids[i], checked[i] != '-' ? true : false, optns) %>
                      </td>
                  <% end %>
                  <td>
                    <% if activity.s_out.nonzero? %>
                      <b>Udsolgt!</b>
                    <% else %>
                      <%= (activity.deltbet && activity.deltbet > 0) ? activity.deltbet : activity.altbet %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <% last_act = activity.starttime.to_date %>
        <% end %>
        </tbody>
      </table>
      <% else %>
          <br><br><br><br>
        Ingen deltagere registreret ved indlæsning af siden.
          <br><br><br><br>
      <% end %>
    </div>
    <div id="opgaver" class="tab-pane fade">
      <% if tpeople.length.nonzero? && @tasks %>
        <% last_task = nil %>
        <% day = 0 %>
        <% names = @tasks.first.p_names.split(',') %>
        <% has_task = @tasks.first.has_tasks.split(',') %>
        <br>
        <br>
        <table class="table table-hover">
          <thead>
          <% p_ids = @tasks.first.p_ids.split(',') %>
          <tr>
            <th style="text-align:left;"><b>Opgave</b></th>
            <th style="text-align:left;">(vedr. aktivitet)</th>
            <% i = 0 %>
            <% names.each do |name| %>
              <th style="width: 70px; text-align: center;" class="<%= has_task[i] == '1' ? 'success' : '' %>"
                  id="task_person_<%= p_ids[i] %>_0"><b><%= name.split(' ')[0] %></b></th>
              <% i += 1 %>
            <% end %>
          </tr>
          </thead>
          <tbody class="accordion panel accordion-group" id="accordion_opg">
          <% @tasks.each do |task| %>
            <% checked = task.a_ids.split(',') %>
            <% if last_task.nil? || last_task != task.time.to_date %>
              <% day += 1 %>
              <tr class="clickable" data-toggle="collapse" id="<%= day %>" data-target=".<%= day %>collapsed">
                <td style="text-align:left;"><br>
                  <b>
                    <%= I18n.t('date.day_names')[task.time.to_date.wday].capitalize +
                          ', d. ' + I18n.localize(task.time.to_date, format: :long) %>
                  </b>
                </td>
                <td style="text-align:left;"><br>
                  (Vis alle...)
                </td>
                <% (0..p_ids.size - 1).each do |i| %>
                  <td class="<%= has_task[i] == '1' ? 'success' : '' %>" id="task_person_<%= p_ids[i] %>_new_date"></td>
                <% end %>
              </tr>
            <% end %>
            <tr id="tr_task_<%= task.id %>" class="<%= (
                                                        task.priority ||
                                                        (task.a_ids.split(',') - ['-']).length.nonzero? ||
                                                        task.early == 1 ||
                                                        mtickets.include?(task.activity_id)
            ) ? 'primary' : "#{day}collapsed panel-collapse collapse" %>" data-parent="accordion_opg">
              <td style="text-align: left;" title="<%= task.description ? task.description : task.name %>">
                <%= task.name[0..24] %>
              </td>
              <td style="text-align: left;" title="<%= task.activity_name %>">
                <%= task.activity_name[0..24] %>
              </td>
              <% (0..p_ids.size - 1).each do |i| %>
                <% optns = {
                  data: {task_id: task.id}
                } %>
                <% optns[:checked] = 'checked' if checked[i] != '-' %>
                <% optns[:disabled] = 'disabled' if
                   (checked[i] == '-' && task.max.nil? && task.taken >= task.number) ||
                   (checked[i] == '-' && task.max && task.taken >= task.max)
                %>
                <% optns[:title] = names[i].split(' ')[0] %>
                <td style="width: 70px; text-align: center;" class="<%= has_task[i] == '1' ? 'success' : '' %>" id="task_person_<%= p_ids[i] %>_<%= task.id %>">
                  <%= check_box_tag('task[person_id]', p_ids[i], checked[i] != '-' ? true : false, optns) %>
                </td>
              <% end %>
            </tr>
            <% last_task = task.time.to_date %>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <br><br><br><br>
        Ingen deltagere med pligt til arbejdsopgave ved indlæsning af siden.
        <br><br><br><br>
      <% end %>
    </div>
    <div id="fakturaer" class="tab-pane fade">
      <% if session[:member_id] == @member.id || current_clearance_levels.include?(:admin) %>
          <br>
          <table>
            <% @invoices.each do |invoice| %>
                <tr>
                  <td id="faktura_<%= invoice.id %>">
                    <% if invoice.i_paid.nonzero? %>
                      <%= link_to "Faktura nr. #{invoice.id}, betalt", invoice_path(invoice) %>
                    <% elsif invoice.i_total.to_i.zero? %>
                      <strong>
                      <%= link_to "Faktura nr. #{invoice.id}, afslut...", invoice_path(invoice) %>
                      </strong>
                    <% else %>
                      <strong>
                        <%= link_to "Faktura nr. #{invoice.id}, (kr. #{dkk(invoice.i_total)}), gå til betaling...", invoice_path(invoice) %>
                      </strong>
                    <% end %>
                  </td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </div>
    <div id="kontaktinfo" class="tab-pane fade">
      <table>
        <thead>
        <tr>
          <th colspan='2'>Medlemsinfo:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Medlemsnr.</td><td><%= @member.number %><%= " - #{@member.password.password}" if current_clearance_levels.include?(:admin) %></td>
        </tr>
        <tr>
          <td>Navn:</td><td><%= @member.name %></td>
        </tr>
        <tr>
          <td>Email:</td><td><%= @member.email %> <%= link_to 'Redigér email', email_member_path(@member) if
                                                        (session[:member_id] == @member.id ||
                                                          current_clearance_levels.include?(:admin)) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= javascript_tag do %>
    $(document).ready(function() {
    if (location.hash) {
    $("a[href='" + location.hash + "']").tab("show");
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
    location.hash = this.getAttribute("href");
    });
    });
    $(window).on("popstate", function() {
    var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
    $("a[href='" + anchor + "']").tab("show");
    });
<% end %>
<%= javascript_tag do %>
    $('#aktiviteter').on("change","input:checkbox", function () {
    var person_id = $(this).val();
    var check = $(this).prop('checked');
    var activity_id = $(this).data('activity-id');
    var data = {
    'activity': {
    'invoice_id': '<%= @invoices.last.id %>',
    'person_id': person_id,
    'member_id': '<%= @member.id %>',
    'checked': check,
    'sold_out': '<%= @member.sold_out %>'
    }
    };
    $.post('/aktiviteter/' + activity_id + '/toggle',data);
    });
<% end %>
<%= javascript_tag do %>
    $('#opgaver').on("change","input:checkbox", function () {
    var person_id = $(this).val();
    var check = $(this).prop('checked');
    var task_id = $(this).data('task-id');
    var data = {
    'task': {
    'person_id': person_id,
    'checked': check
    }
    };
    $.post('/opgaver/' + task_id + '/toggle',data);
    });
<% end %>
